In [ ]:
import librosa
import librosa.display
import IPython.display as ipd
import numpy as np
from google.colab import drive
import os
import pandas as pd
import pywt
import csv
import os
from glob import glob
import shutil
from scipy.io import wavfile
import matplotlib
import matplotlib.pyplot as plt

In [ ]:
drive.mount('/content/drive')
directory = "/content"
base_path = "/content/drive/MyDrive/Data Tugas Akhir"
MI_path = f'{base_path}{os.sep}MI/'
audio_files_MI = glob(MI_path  + '*.wav')
Preprocess_MI = f'{base_path}{os.sep}Preprocess_MI/'
audio_files_N = glob(Preprocess_MI  + '*.wav')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
def RMS_feature(file_path):
    x,sample_rate = librosa.load(file_path, res_type='kaiser_best')
    RMS = librosa.feature.rms(y=x)
    return RMS

In [ ]:
featuresRMS = {}
features_RMS_test = []
directory2 = Preprocess_MI
for audio in os.listdir(directory2):
    audio_path = directory2+audio
    featuresRMS[audio_path] = RMS_feature(audio_path)
    features_RMS_test.append(RMS_feature(audio_path))

In [ ]:
df_RMS_MI = pd.DataFrame({'RMS' : features_RMS_test})
df_RMS_MI.head(10)

                                                 RMS
0  [[1.0384187e-05, 1.0329579e-05, 8.025666e-06, ...
1  [[6.2757385e-21, 5.023822e-21, 4.7226124e-21, ...
2  [[4.264716e-06, 4.2197194e-06, 3.0821675e-06, ...
3  [[3.097342e-07, 3.2739513e-07, 3.3829372e-07, ...
4  [[6.482449e-06, 7.005603e-06, 7.0007677e-06, 4...
5  [[3.6544367e-05, 3.6525777e-05, 2.7579581e-05,...
6  [[4.0649324e-05, 4.059439e-05, 2.995554e-05, 2...
7  [[2.5081392e-06, 2.4696203e-06, 2.0931352e-06,...
8  [[1.9681283e-06, 1.9635634e-06, 1.4077392e-06,...
9  [[1.8376869e-06, 1.8292925e-06, 1.4872761e-06,...

In [ ]:
RMS_means = []
for i in features_RMS_test:
  mean = np.mean(i,dtype=np.float64)
  RMS_means.append(mean)

df_RMS_means = pd.DataFrame({'Means' : RMS_means})
df_RMS_means

        Means
0    0.000065
1    0.000774
2    0.000083
3    0.000073
4    0.000036
..        ...
275  0.000238
276  0.000032
277  0.000023
278  0.000209
279  0.000561

[280 rows x 1 columns]

In [ ]:
RMS_std = []
for i in features_RMS_test:
  std = np.std(i)
  RMS_std.append(std)

df_RMS_std = pd.DataFrame({'Std' : RMS_std})
df_RMS_std

          Std
0    0.000354
1    0.003726
2    0.000441
3    0.000155
4    0.000075
..        ...
275  0.001970
276  0.000099
277  0.000048
278  0.001059
279  0.002707

[280 rows x 1 columns]

In [ ]:
RMS_max = []
for i in features_RMS_test:
  max = np.max(i)
  RMS_max.append(max)

df_RMS_max = pd.DataFrame({'Max' : RMS_max})
df_RMS_max

          Max
0    0.003775
1    0.033133
2    0.005756
3    0.001200
4    0.000657
..        ...
275  0.031396
276  0.000862
277  0.000316
278  0.010251
279  0.024358

[280 rows x 1 columns]

In [ ]:
RMS_min = []
for i in features_RMS_test:
  Min = np.min(i)
  RMS_min.append(Min)

df_RMS_min = pd.DataFrame({'Min' : RMS_min})
df_RMS_min

              Min
0    7.869957e-07
1    7.486784e-23
2    1.538243e-07
3    3.509530e-08
4    1.784685e-10
..            ...
275  1.518729e-21
276  8.190449e-10
277  3.199451e-21
278  1.088050e-07
279  6.820785e-22

[280 rows x 1 columns]

In [ ]:
RMS_Med = []
for i in features_RMS_test:
  Med = np.median(i)
  RMS_Med.append(Med)

df_med_rms = pd.DataFrame(RMS_Med, columns=['Med']) 
df_med_rms

              Med
0    1.622469e-06
1    6.295326e-07
2    7.943831e-07
3    1.827517e-06
4    3.146331e-06
..            ...
275  5.117327e-06
276  2.441218e-07
277  9.011886e-07
278  7.185030e-07
279  1.110568e-07

[280 rows x 1 columns]

In [ ]:
RMS_Var = []
for i in features_RMS_test:
  Var = np.var(i)
  RMS_Var.append(Var)

df_var_rms = pd.DataFrame(RMS_Var, columns=['Var'])

In [ ]:
from scipy.stats import skew
RMS_Skew = []
for i in features_RMS_test:
  Skew = skew(i, axis=0, bias=True)
  RMS_Skew.append(Skew)

In [ ]:
skew_means_RMS = []
for i in RMS_Skew:
  mean = np.mean(i)
  skew_means_RMS.append(mean)

In [ ]:
df_skew_rms = pd.DataFrame(skew_means_RMS, columns=['Skew'])

In [ ]:
RMS_Q1 = []
for i in features_RMS_test:
  Q1 = np.percentile(i, 25) 
  RMS_Q1.append(Q1)

In [ ]:
df_q1_rms = pd.DataFrame(RMS_Q1, columns=['Q1'])

In [ ]:
RMS_Q3 = []
for i in features_RMS_test:
  Q3 = np.percentile(i, 75) 
  RMS_Q3.append(Q3)

In [ ]:
df_q3_rms = pd.DataFrame(RMS_Q3, columns=['Q3'])

In [ ]:
RMS_IQR = []
IQR = np.array(RMS_Q3) - np.array(RMS_Q1)
RMS_IQR.append(IQR)

df_iqr = pd.DataFrame({'IQR' : RMS_IQR})
df_iqr = df_iqr.transpose()
df_iqr

                                                     0
IQR  [2.0107493810428423e-05, 9.847386536421229e-06...

In [ ]:
RMS_range = []
Range = np.array(RMS_max) - np.array(RMS_min)
RMS_range.append(Range)

In [ ]:
df_range = pd.DataFrame(RMS_range)
df_range = df_range.transpose()
df_range

            0
0    0.003775
1    0.033133
2    0.005756
3    0.001200
4    0.000657
..        ...
275  0.031396
276  0.000862
277  0.000316
278  0.010250
279  0.024358

[280 rows x 1 columns]

In [ ]:
from scipy.stats import kurtosis

In [ ]:
RMS_Kurt = []
for i in features_RMS_test:
  Kurt = kurtosis(i, axis=0, bias=True)
  RMS_Kurt.append(Kurt)

In [ ]:
kurt_means = []
for i in RMS_Kurt:
  mean = np.mean(i)
  kurt_means.append(mean)

In [ ]:
df_kurt = pd.DataFrame({'Kurt' : kurt_means})
df_kurt

     Kurt
0    -3.0
1    -3.0
2    -3.0
3    -3.0
4    -3.0
..    ...
275  -3.0
276  -3.0
277  -3.0
278  -3.0
279  -3.0

[280 rows x 1 columns]

In [ ]:
df_rms = pd.DataFrame()
df_rms['Mean_rms'] = df_RMS_means['Means']
df_rms['Std_rms'] = df_RMS_std['Std']
df_rms['Max_rms'] = df_RMS_max['Max']
df_rms['Min_rms'] = df_RMS_min['Min']
df_rms['Med_rms'] = df_med_rms['Med']
df_rms['Var_rms'] = df_var_rms['Var']
df_rms['Skew_rms'] = df_skew_rms['Skew']
df_rms['Q1_rms'] = df_q1_rms['Q1']
df_rms['Q3_rms'] = df_q3_rms['Q3']
df_rms['IQR_rms'] = df_iqr[0]
df_rms['MinMax_rms'] = df_range[0]
df_rms['Kurt_rms'] = df_kurt['Kurt']
df_rms

,Mean_rms,Std_rms,Max_rms,Min_rms,Med_rms,Var_rms,Skew_rms,Q1_rms,Q3_rms,IQR_rms,MinMax_rms,Kurt_rms
0,0.000065,0.000354,0.003775,7.869957e-07,1.622469e-06,1.250611e-07,0.0,1.096889e-06,0.000021,NaN,0.003775,-3.0
1,0.000774,0.003726,0.033133,7.486784e-23,6.295326e-07,1.388299e-05,0.0,2.549911e-20,0.000010,NaN,0.033133,-3.0
2,0.000083,0.000441,0.005756,1.538243e-07,7.943831e-07,1.944023e-07,0.0,4.300356e-07,0.000040,NaN,0.005756,-3.0
3,0.000073,0.000155,0.001200,3.509530e-08,1.827517e-06,2.409577e-08,0.0,2.582341e-07,0.000059,NaN,0.001200,-3.0
4,0.000036,0.000075,0.000657,1.784685e-10,3.146331e-06,5.611394e-09,0.0,9.821682e-08,0.000040,NaN,0.000657,-3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
275,0.000238,0.001970,0.031396,1.518729e-21,5.117327e-06,3.878988e-06,0.0,4.669702e-06,0.000019,NaN,0.031396,-3.0
276,0.000032,0.000099,0.000862,8.190449e-10,2.441218e-07,9.708875e-09,0.0,1.109312e-07,0.000011,NaN,0.000862,-3.0
277,0.000023,0.000048,0.000316,3.199451e-21,9.011886e-07,2.286863e-09,0.0,8.121494e-08,0.000024,NaN,0.000316,-3.0
278,0.000209,0.001059,0.010251,1.088050e-07,7.185030e-07,1.122453e-06,0.0,3.697406e-07,0.000011,NaN,0.010250,-3.0
279,0.000561,0.002707,0.024358,6.820785e-22,1.110568e-07,7.328721e-06,0.0,1.655403e-20,0.000006,NaN,0.024358,-3.0

In [ ]:
df_rms.to_csv("RMS_Feature Extraction_MI.csv")